<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index05</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/pages-getOrderInfo.css}">
</head>
<body>
<span th:text="${flag}"></span>
<h1 th:if="${flag=='yes'}">中公教育</h1>
<h1 th:unless="${flag == 'yes'}">优就业</h1>


<div th:switch="${menu}">
    <p th:case="admin">user is admin</p>
    <p th:case="${manager}">user is manager</p>
</div>


<!--引入片段-->
<div th:insert="~{footer :: copy}"></div>
<div th:include="~{footer :: copy}"></div>
<div th:replace="~{footer :: copy}"></div>

</body>
</html>